<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-md-6 bg-color d-flex align-items-center">
      <div class="overlay"></div>
    </div>
    <div class="col-md-6 d-flex">
      <div class="w-100">
        <h2 class="text-center m-5">Bienvenido Administrador</h2>
        <form>
          <div class="mb-3 p-2">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Ingrese su correo electrónico"
            />
          </div>
          <div class="mb-3 p-2">
            <label for="password" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control" 
              id="password"
              placeholder="Ingrese su contraseña"
            />
          </div>
          <button type="submit" class="btn btn-orange btn-block m-">LOGIN</button>
        </form>
      </div>
    </div>
  </div>
</div>

