<div class="d-flex justify-content-center align-items-center vh-100 fondo">
    <div class="contenedor">
      <div class="titulo">
        <div class="row">
          <div class="col-6 p-5 fw-bold">
            <h2>Lista de Productos</h2>
          </div>
          <div class="col-6 p-5 d-flex align-items-end justify-content-end">
            <form class="d-flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="currentColor"
                class="bi bi-search mt-2"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12
                   6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                />
              </svg>
              <input
                class="form-control form-control-lg me-5 border border-orange ms-3"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </div>
        </div>
      </div>
      <div class="btnAddProducto">
        <button type="submit" class="btn btn-block">Añadir Producto</button>
      </div>
      <div class="atributos mt-5">
        <div class="row">
          <div class="col-2 text-center mt-2">
            <p>Producto</p>
          </div>
          <div class="col-2 text-center mt-2">
            <p>Valoración</p>
          </div>
          <div class="col-2 text-center mt-2">
            <p>Precio</p>
          </div>
          <div class="col-2 text-center mt-2">
            <p>Categoría</p>
          </div>
          <div class="col-2 text-center mt-2">
            <p>Estado</p>
          </div>
          <div class="col-2 text-center mt-2">
            <p>Acciones</p>
          </div>
        </div>
      </div>
      <div>
          <app-productos-list [productosList]="productosList"></app-productos-list>
      </div>
      <nav class="d-flex justify-content-center mt-5">
        <ngb-pagination [collectionSize]="totalProductos" [pageSize]="productosPorPagina" [maxSize]="3" [rotate]="true"
            [(page)]="numPagina" (pageChange)="cargarPagina()" class="align-self-centers paginacion" style="color: #E96C26;"
            aria-label="Default pagination"></ngb-pagination>
      </nav>
    </div>
  </div>

  <!-- <ng-template #addModalProducto let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Añadir Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="guardarModal()" #productForm="ngForm">
        <div class="form-group">
          <label for="nombreProducto">Nombre</label>
          <input type="text" id="nombreProducto" [(ngModel)]="nombreProducto" name="nombreProducto" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="imagen">Imagen</label>
          <input type="text" id="imagen" [(ngModel)]="imagen" name="imagen" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea id="descripcion" [(ngModel)]="descripcion" name="descripcion" class="form-control" required></textarea>
        </div>
        <div class="form-group">
          <label for="precio">Precio</label>
          <input type="number" id="precio" [(ngModel)]="precio" name="precio" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="enVenta">En Venta</label>
          <input type="checkbox" id="enVenta" [(ngModel)]="enVenta" name="enVenta" class="form-check-input">
        </div>
        <div class="form-group">
          <label for="idCategoria">Categoría</label>
          <select id="idCategoria" [(ngModel)]="idCategoria" name="idCategoria" class="form-control" required>
            <option *ngFor="let cat of categorias" [value]="cat">{{cat}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </ng-template> -->
  