<div class="d-flex justify-content-center align-items-center vh-100 fondo">
    <div class="contenedor">
      <div class="titulo">
        <div class="row">
          <div class="col-6 p-5 fw-bold">
            <h2>Lista de Reservas</h2>
          </div>
          <div class="col-6 p-5 d-flex align-items-end justify-content-end">
            <form class="d-flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="currentColor"
                class="bi bi-search mt-2"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12
                   6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                />
              </svg>
              <input
                class="form-control form-control-lg me-5 border border-orange ms-3"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
          </div>
        </div>
      </div>
      <div class="atributos">
        <div class="row">
          <div class="col-2 text-center mt-2">
            <p>Username</p>
          </div>
          <div class="col-2 text-center mt-2">
            <p>Desde</p>
          </div>
          <div class="col-2 text-center mt-2">
            <p>Hasta</p>
          </div>
          <div class="col-2 text-center mt-2">
            <p>Dispositivo</p>
          </div>
          <div class="col-2 text-center mt-2">
            <p>Estado Res.</p>
          </div>
          <div class="col-2 text-center mt-2">
            <p>Acciones</p>
          </div>
        </div>
      </div>
      <div>
            <app-reservas-list [reservasList]="reservasList"></app-reservas-list>
      </div>
      <nav class="d-flex justify-content-center mt-2">
        <ngb-pagination [collectionSize]="totalReservas" [pageSize]="reservasPorPagina" [maxSize]="3" [rotate]="true"
            [(page)]="numPaginas" (pageChange)="cargarPagina()" class="align-self-centers paginacion" style="color: #E96C26;"
            aria-label="Default pagination"></ngb-pagination>
      </nav>
    </div>
  </div>
  