*{
    --bs-pagination-active-color: #ffffff;
    --bs-pagination-color: #E96C26;
    --bs-pagination-active-bg: #E96C26;
    --bs-pagination-bg: #ffffff;
    --bs-pagination-active-border-color: #ffffff;
}