<div class="d-flex justify-content-center align-items-center vh-100 fondo">
  <div class="contenedor">
    <div class="titulo">
      <div class="row">
        <div class="col-6 p-5 fw-bold">
          <h2>Lista de Usuarios</h2>
        </div>
      </div>
    </div>
    <div class="atributos">
      <div class="row">
        <div class="col-2 text-center mt-2">
          <p>Username</p>
        </div>
        <div class="col-2 text-center mt-2">
          <p>Registro</p>
        </div>
        <div class="col-2 text-center mt-2">
          <p>E-mail</p>
        </div>
        <div class="col-2 text-center mt-2">
          <p>Horas Disponibles</p>
        </div>
        <div class="col-2 text-center mt-2">
          <p>Rol</p>
        </div>
        <div class="col-2 text-center mt-2">
          <p>Acciones</p>
        </div>
      </div>
    </div>
    <div>
        <app-user-list [usuariosList]="usuariosList"></app-user-list>
    </div>
    <nav class="d-flex justify-content-center mt-5">
      <ngb-pagination [collectionSize]="totalUsuarios" [pageSize]="usuariosPorPagina" [maxSize]="3" [rotate]="true"
          [(page)]="numPagina" (pageChange)="cargarPagina()" class="align-self-centers paginacion" style="color: #E96C26;"
          aria-label="Default pagination"></ngb-pagination>
    </nav>
  </div>
</div>
